.card
{
    border-radius: 1px;
    position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

}
.card-image:hover
{
    filter :  drop-shadow(0px 3px 18px #000);
    opacity: 0.6;
}

.card-image
{
    width:290px;
    height: 290px;

}

.card-image img
{
    width:290px;
    height: 290px;
}
.card-desc
{
    margin-left:16px;
}

.card-title
{
    font-family: 'Source Sans Pro';
    font-size: 15px;
    font-weight: 600;
    color:#0F5EF0;
    margin-top:20px;
}

.card-details-1
{
    font-family: 'Source Sans Pro';
    font-size: 12px;
    font-weight: bold;
    color:#7A8594;
    margin-top:18px;
}

.card-details-2
{
    font-family: 'Source Sans Pro';
    font-size: 12px;
    font-weight: normal;
    color:#7A8594;
    margin-top:20px;
    margin-bottom: 14px;
}
